.portfolio {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100%;
  background: radial-gradient(#5a3d3d, #161616);
  display: grid;
  grid-template-columns: 5% 1fr 3fr 5%;
}

.imgSection {
  grid-column: 2/3;
  height: 400px;
  width: 100%;
  align-self: center;
  text-align: center;
  color: white;
}

.aboutImg {
  text-align: center;
}

.aboutImg img {
  height: 200px;
  border-radius: 100%;
  margin: 20px auto;
  display: inline-block;
}

.info-section {
  position: absolute;
  top: 10%;
  overflow-y: scroll;
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 5% 1fr 2fr 5%;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  height: 80vh;
  border-radius: 8px;
}

.skill-section {
  grid-column: 2/3;
}

.imgSection p {
  font-family: RobLight;
}

.list-section {
  margin: 20px 5%;
}

.list-section h1 {
  margin-bottom: 5px;
  font-family: PopReg;
  font-size: 20px;
}

.list-section ul,
ol {
  margin: 3px 0px 3px 30px;
  list-style: circle;
  font-size: 15px;
  font-family: RobLight;
}

.occupation {
  margin: 20px 5%;
  font-family: RobLight;
}

.occupation h1 {
  font-family: PopReg;
  font-size: 20px;
}

.occupation h2 {
  font-family: PopLight;
  font-size: 18px;
  margin: 5px 0px;
}

.occupation h3 {
  font-family: PopLight;
  font-size: 16px;
}

.occupation p {
  margin: 3px 0px 3px 20px;
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a6a6a6;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1024px) {
  .imgSection p {
    display: none;
  }
  .imgSection {
    position: relative;
  }
  .imgSection img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .imgSection {
    display: none;
  }

  .portfolio {
    grid-template-columns: 5% 1fr 5%;
  }

  .info-section {
    grid-column: 2/3;
  }
  .info-section h1 {
    font-size: 18px;
  }
  .info-section h2 {
    font-size: 16px;
  }
  .info-section h3 {
    font-size: 14px;
  }
  .info-section p,
  li {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .info-section h1 {
    font-size: 16px;
  }
  .info-section h2 {
    font-size: 14px;
  }
  .info-section h3 {
    font-size: 12px;
  }
  .info-section p,
  li {
    font-size: 12px;
  }
}
