.nav {
  display: flex;
  align-items: center;

  min-height: 10vh;
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: 5% 1fr 1fr 3fr 1fr 5%;
}

.logo {
  grid-column: 2/3;
  color: white;
  letter-spacing: 5px;
  font-size: 20px;
  text-align: center;
  z-index: 4;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 70%;
  grid-column: 4/5;
  justify-self: center;
  grid-row: 1/2;

  /* display: none; */
}

.nav-links li {
  color: white;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: bold;
  list-style: none;
}

.contact {
  color: white;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: bold;
  justify-self: center;
  cursor: pointer;
}
.contact-burger {
  display: flex;
  grid-column: 5/6;
  grid-row: 1/2;
  align-items: center;
  align-content: center;
  justify-self: center;
  z-index: 3;
}
.active-nav {
  text-decoration: underline;
}

.burger {
  margin: 15px;
  cursor: pointer;
  grid-column: 4/5;
  grid-row: 1/2;
  justify-self: end;
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.contact-open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40vh;
  z-index: 2;
  color: black;
  background-color: white;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  justify-items: center;
  align-items: center;
  transform: translateY(-100%);
}

.contact-open h2 {
  font-family: PopReg;
  font-size: 34px;
  margin-bottom: 40px;
}

.contact-open h3 {
  font-size: 18px;
}

.mail {
  grid-column: 2/3;
  text-align: center;
}

.phone {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 90%;
  }
}

@media screen and (max-width: 786px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    width: 50%;
    top: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    color: black;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.contact-toggle {
  opacity: 0;
  pointer-events: none;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: black;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: black;
}
